/*gestion de la taille de la map*/
.carte{
	background-image:url(../images/fond.png);	
	position:absolute;
	height:400px;
	width : 1200px;
}


.carte_map_code_postal{
	margin: auto;
	margin-top: 50px;
	height:400px;
	width : 1000px;
}