
body {
	background-image:url(../images/fond.png);	
	background-repeat: repeat;
	font-size:1em;
	text-align:center;
}


#blocSlide{
	margin-left:180px;
	width:1199px; /*GERER LA LARGEUR DE LA DIV*/
	height:auto;
	position:absolute;
	background-color:none;
	
}

#logo{
	background-image:url(../images/logo.png);
	width:400px;
	height:100px;
	margin-left:400px;
	margin-top:150px;
	position:absolute;
}

#cadre{
	background-image:url(../images/delimiam_top_vide.png);
	position:absolute;
	margin-top:0;
	margin-left:180px;
	width:1199px;
	height:650px;
	z-index:1;
}

.pointe{
	background-image:url(../images/pointe.png);
	position:absolute;
	margin-top:-16px;
	margin-left:540px;
	width:113px;
	height:83px;
	z-index:1;
}

/*pour le slideshow*/
.pikachoose a, #fancybox-close, .fancyimage {
	border-bottom: 0px dotted #9c5959;
}

.pikachoose img, article img, aside img {
	background: #9C5959;
	padding: 1px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.50);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.50);
	box-shadow: 0 0 4px rgba(0,0,0,0.50);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}



#blocMiddle{
	background-image:url(../images/fond_middle.png);
	margin-top:630px;
	margin-left:180px;
	width:1200px;
	height:auto;	
	z-index:0; /*pour que le menu déroulant passe par dessous*/	
}

/*div dans laquelle se trouve la map*/
#blocMap{
	position:absolute;
	width:1200px;
	height:400px;
	z-index:0; /*pour que le menu déroulant passe par dessous*/
}

#blocTem{
	background-color:white;
	position:absolute;
	margin-top:377px;
	margin-left:0px;
	width:1200px;
	height:400px;	
}

#bandeTem{
	background-color:#450104;
	background-image:url(../images/presentation.png);
	height:56px;
	width:100%;
}

#blocTem p{
	margin:0;
	padding-top:25px;
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	line-height:50px;
	color:#450104;
    text-decoration : none;
 }


 #blocNews{
	background-image:url(../images/rejoindre.png);
	position:absolute;
	margin-top:777px;
	margin-left:0px;
	width:1200px;
	height:476px;	
}

.textRejoindre{
	margin:100px;
	margin-top:110px;
	margin-right:80px;
	height:300px;
	width:620px;
	float:left;
}

.textRejoindre p{
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:left;
	line-height:50px;
	color:white;
    text-decoration : none;
 }
 
.logoRejoindre{
	margin-top:100px;
	height:300px;
	width:100px;
	position:aboslute;
	float:left;
}

.textlogoRejoindre{
	margin-top:100px;
	margin-left:900px;
	height:300px;
	width:auto;
	position:aboslute;
}

.textlogoRejoindre p{
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
	line-height:105px;
	color:white;
    text-decoration : none;
	font-weight:bold;
	font-style:oblique;
}

#logoFb{
	background-image:url(../images/logo_fb.png);
	margin-top:20px;
	margin-left:10px;
	width:70px;
	height:63px;
}

#logoTwitter{
	background-image:url(../images/logo_twitter.png);
	margin-top:40px;
	margin-left:10px;
	width:70px;
	height:63px;
}

#logoInsta{
	background-image:url(../images/logo_insta.png);
	margin-top:40px;
	margin-left:10px;
	width:70px;
	height:63px;
}

#blocBas{
	position:absolute;
	margin-top:1253px;
	margin-left:0px;
	width:1200px;
	height:50px;	
}

/*pour la page CONTACT*/
.contact{
	margin-left:0;
	padding-top:120px;
	padding-bottom:100px;
}

.contact h3, .contact p{
	margin:0;
	font-family:Helvetica;
	font-size:35px;
	text-align:center;
	color:grey;
    text-decoration : none;
 }
 
 .contact a{
	color:grey;
	font-family:Helvetica, sans-serif;
    text-decoration : underline;
 }

 /* pour la page BESOIN_CONNEXION et CHOIX_MENU*/
 .besoin_connexion,  .choix_menu{
	padding-top:90px;
	padding-bottom:60px;
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	line-height:70px;
	text-align:center;
	color:grey;
    text-decoration : none;
 }
 
 .besoin_connexion a{
	color:grey;
	font-family:Helvetica, sans-serif;
    text-decoration : underline;
 }
 
 section  .choix_menu input[type='submit'] {
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}
 
 /* pour la page CHOIX_BOISSON_DESSERT*/
 .choix_boisson_dessert {
	padding-top:90px;
	padding-bottom:60px;
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
 }
 
 .choix_boisson_dessert label {
	font-family:Helvetica, sans-serif;
	font-size:30px;
	line-height:100px;
	color:grey;
    text-decoration : none;
 }
 
 section  .choix_boisson_dessert input[type='submit'] {
	clear: both;
	margin-top:10px;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}

/*pour la page POSSIBILITES_COMMANDE*/

.possibilites_commande{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}

.possibilites_commande p{
	font-family:Helvetica, sans-serif;
	font-size:30px;
	color:grey;
    text-decoration : none;
}

section  .possibilites_commande input[type='submit'] {
	clear: both;
	margin-left:50px;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}


/*pour la page CHOIX_INGREDIENTS*/
.choix_ingredients{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.choix_ingredients p{
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	color:grey;
    text-decoration : none;

}

/*pour la page CONF_INSC_CLI*/
.conf_insc_cli {
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;

}
.conf_insc_cli p{
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	color:grey;
    text-decoration : none;
}

/*pour la page CONF_INSC_PART*/
.conf_insc_part {
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;

}
.conf_insc_part p{
	margin:0;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	color:grey;
    text-decoration : none;
}

/*pour la page CHOIX_PRODUIT*/
.choix_produit{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.choix_produit p, .choix_produit label{
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	color:grey;
    text-decoration : none;

}

.choix_produit label{
	margin:0;
	font-size:20px;
	line-height:60px;
}

.choix_produit input[type='submit'] {
	clear: both;
	margin-top:50px;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}

/*pour la page CHOIX_LIEU*/
.choix_lieu{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
.choix_lieu p{
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	color:grey;
    text-decoration : none;
	}
	
/*pour la page ACC_PART*/
.acc_part{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}

.acc_part_choix{
	margin-bottom:20px;
	margin-left:380px;
	width:auto;
	text-align:left;
}

.acc_part a, .acc_part p{
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.acc_part p{
	font-size:35px;
}

.acc_part a{
	text-decoration : underline;
	}

.acc_part_button{
	display:inline-block;
}



.acc_part input[type='submit'] {
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}

/*pour la page AFF_CMDENC*/
.aff_cmdEnC{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.aff_cmdEnC a, .aff_cmdEnC p{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.aff_cmdEnC a{
	font-size:20px;
	text-decoration : underline;
}

.aff_cmdEnC input[type='submit'] {
	margin-top:15px;
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}

.aff_cmdEnC th, .aff_cmdEnC td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.tableau_aff_cmdEnC{
	margin-left:300px;
	width:600px;
	}

/*pour la page AFF_INFOCMD*/
.aff_Infocmd{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.aff_Infocmd p, .aff_Infocmd h1{
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.aff_Infocmd h1{
	font-size:35px;
}

.tableau_menu{
	margin-left:450px;
	width:300px;
}

.tableau_horsmenu{
	margin-left:300px;
	width:600px;
}
.aff_Infocmd th, .aff_Infocmd td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}

/*tableaux en général pour les couleurs*/
.tableau_clair	{
    background-color:#DCDCDC;
}

.tableau_fonce	{
    background-color:#CD5C5C;
}

.tableau_grey{
	 background-color:#C0C0C0;
}


/*pour la page AFF_INGREDIENTS_PRODUIT*/
.aff_ingredients_produit{
	margin-left:0;
	padding-top:80px;
	padding-bottom:70px;
	text-align:center;
}

.aff_ingredients_produit p{
	margin-bottom:25px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}
	
.tableau_ingredient{
	margin-left:300px;
	width:600px;
	}
	
.tableau_total	{
    background-color:#808080;
}

.aff_ingredients_produit th, .aff_ingredients_produit td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}

/*pour la page AFF_CMDATTRETRAIT*/
.aff_cmdAttRetrait{
	margin-left:0;
	padding-top:80px;
	padding-bottom:70px;
	text-align:center;
}

.aff_cmdAttRetrait p, .aff_cmdAttRetrait h1{
	margin-bottom:25px;
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.aff_cmdAttRetrait h1{
	font-size:35px;
	}

.aff_cmdAttRetrait th, .aff_cmdAttRetrait td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.tableau_aff_cmdAttRetrait{
	margin-left:300px;
	width:600px;
	}

.aff_cmdAttRetrait input[type='submit'] {
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	margin-top:20px;
}
	
/*pour la page AFF_CMDHIST*/
.aff_cmdHist{
	margin-left:0;
	padding-top:80px;
	padding-bottom:70px;
	text-align:center;
}

.aff_cmdHist p{
	margin-bottom:25px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}


.aff_cmdHist th, .aff_cmdHist td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.tableau_aff_cmdHist{
	margin-left:300px;
	width:600px;
	}

/*pour la page AFF_PRODUITS_PART*/
.aff_produits_part{
	margin-left:0;
	padding-top:80px;
	padding-bottom:70px;
	text-align:center;
}

.aff_produits_part p{
	margin-bottom:25px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}
	
.tableau_produits_part{
	margin-left:300px;
	width:600px;
	}
	

.aff_produits_part th, .aff_produits_part td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}


/*pour la page AFF_STOCKE_INGREDIENTS*/
.aff_stock_ingredients{
	margin-left:0;
	padding-top:80px;
	padding-bottom:70px;
	text-align:center;
}

.aff_stock_ingredients p{
	margin-bottom:25px;
	font-family:Helvetica, sans-serif;
	font-size:35px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}
	
.tableau_stock_ingredients{
	margin-left:300px;
	width:600px;
	}
	

.aff_stock_ingredients th, .aff_stock_ingredients td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}


/*pour la page GERER_COMPTE*/
.gerer_compte{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.gerer_compte p, .gerer_compte h1{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:30px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.gerer_compte h1{
	font-size:35px;
}	

.choix_compte_button{
	margin-left:60px;
	display:inline-block;
	width:500px;
}

.button_modif{
	float:left;
}

.gerer_compte input[type='submit'] {
	margin-top:70px;
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}

.gerer_compte th, .gerer_compte td{
	margin-left:50px;
	padding-left:20px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:left;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.tableau_gerer_compte{
	margin-left:300px;
	width:600px;
	}


/*pour la page MODIF_COMPTE*/
.modif_compte{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}

.modif_compte_choix{
	margin-bottom:20px;
	margin-left:380px;
	width:auto;
	text-align:left;
}

.modif_compte a, .modif_compte p{
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.modif_compte p{
	font-size:35px;
}

.modif_compte a{
	text-decoration : underline;
	}


/*pour les pages CONF_MODIF_PSEUDO/MDP/EMAIL/TEL*/
.conf_modif{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}

.conf_modif p{
	font-family:Helvetica, sans-serif;
	font-size:25px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}
	
/*pour la page CONF_SUPP_COMPTE*/
.conf_supp_compte{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.conf_supp_compte p{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:30px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}
	

.choix_conf_supp_compte_button{
	margin-left:150px;
	display:inline-block;
	width:500px;
}

.button_confirmer{
	float:left;
}

.button_historique{
	margin-left:-60px;
}

.conf_supp_compte input[type='submit'] {
	margin-top:50px;
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
	width:100px;
}

/*pour la page CHOIX_INGREDIENTS / CHOIX_BOISSON_DESSERT*/
.choix_ingredients, .choix_dessert_boisson{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	}
	
.choix_ingredients p, .choix_ingredients h1, .choix_dessert_boisson p, .choix_dessert_boisson h1{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:30px;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.choix_ingredients h1, .choix_dessert_boisson h1{
	font-size:35px;
	text-align:center;
}	

.bloc_choix_ingredients p{
	font-size:20px;
	text-align:center;
	}
	
.bloc_choix_dessert_boisson p{
	margin-left:240px;
	text-decoration : underline;
}

.bloc_choix_dessert_boisson td>p{
	margin-left:23px;
	font-size:20px;
	text-decoration : none;
}

.bloc_choix_dessert_boisson label, .bloc_choix_ingredients label{
	margin-right:20px;
	font-family:Helvetica, cursive;
	font-size:30px;
	line-height:50px;
	color:grey;
    text-decoration : none;
	text-decoration : underline;
}

.bloc_choix_dessert_boisson label{
	margin-left:50px;
}


.bloc_choix_ingredients{
	margin-left:160px;
}

.bloc_choix_dessert_boisson{
	margin-left:220px;
	}


.bloc_choix_ingredients img{
	height:200px;
	width:230px;
	margin-left:20px;
	}
	
.bloc_choix_ingredients img:hover, .bloc_choix_dessert_boisson img:hover{
	-webkit-transform:scale(1.1);;
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);

	-webkit-transition:0.30s;
	-moz-transition:0.30s;
	-ms-transition:0.30s;
	-o-transition:0.30s;
	transition:0.30s
}

.bloc_choix_ingredients input[type='checkbox']:hover, .bloc_choix_dessert_boisson  input[type='radio']:hover{
	cursor:pointer;
}


.bloc_choix_dessert_boisson img{
	height:150px;
	width:200px;
	margin-left:20px;
}

.bloc_choix_dessert_boisson  option{
	width:30px;
	}
	
.bloc_choix_dessert_boisson input[type='submit'], .bloc_choix_ingredients input[type='submit'] {
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	margin-left:20px;
	padding: 5px 11px 7px;
}
	
/*pour la page MAP_CODE_POSTAL*/
.map_code_postal{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.map_code_postal label{
	margin-bottom:50px;
	margin-left:50px;
	margin-right:20px;
	font-family:Helvetica, cursive;
	font-size:25px;
	color:grey;
    text-decoration : none;
	text-decoration : underline;
	}

/*pour la page MES_COMMANDES*/	
.mes_commandes{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;
	}
	
.mes_commandes p, .mes_commandes h1, .mes_commandes h3 {
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.mes_commandes a{
	font-size:20px;
}	
.mes_commandes h1{
	font-size:25px;
	text-decoration : underline;
}

.mes_commandes h3{
	font-size:28px;
	text-decoration : underline;
}


.mes_commandes_button{
	margin-left:20px;
	display:inline-block;
	width:500px;
}


.mes_commandes input[type='submit'] {
	margin-top:30px;
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	padding: 6px 12px 8px;
}

.mes_commandes th, .mes_commandes td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.tableau_panier{
	margin-left:100px;
	width:1000px;
	height:auto;
	}

.tableau_prix_total{
	margin-top:100px;
	margin-bottom:50px;
	margin-left:430px;
	width:300px;
	height:auto;
}	

/*pour la page CHOIX_PRODUIT*/
.choix_produit{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	}
	
.choix_produit p, .choix_produit h1, .choix_produit a{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:30px;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}

.choix_produit h1{
	font-size:35px;
	text-align:center;
}	

.choix_produit p{
	text-align:center;
	}
	
.choix_produit li{
	margin-left:50px;
}

.choix_produit a{
	font-size:15px;
	text-decoration:underline;
	}
	
.bloc_choix_produit p{
	margin-left:240px;
	text-decoration : underline;
}

.bloc_choix_produit td>p{
	margin-left:23px;
	font-size:20px;
	text-decoration : none;
}

.bloc_choix_produit{
	margin-left:160px;
}
.choix_produit label{
	margin-right:20px;
	font-family:Helvetica, cursive;
	font-size:30px;
	line-height:50px;
	color:grey;
    text-decoration : none;
	text-decoration : underline;
}

.bloc_choix_produit label{
	margin-left:50px;
}


.choix_produit img{
	height:200px;
	width:230px;
	margin-left:20px;
	}
	
.choix_produit img:hover, .bloc_choix_produit img:hover{
	-webkit-transform:scale(1.1);;
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);

	-webkit-transition:0.30s;
	-moz-transition:0.30s;
	-ms-transition:0.30s;
	-o-transition:0.30s;
	transition:0.30s
}

.choix_produit  input[type='radio']:hover{
	cursor:pointer;
}
	
.choix_produit input[type='submit']{
	clear: both;
	font-family:Helvetica, cursive;
	font-size:15px;
	margin-left:20px;
	padding: 5px 11px 7px;
}

/*pour la page COMMENTAIRES_PRODUIT*/
.commentaires_produit, .commentaires_partenaire{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	text-align:center;

}

.tableau_commentaires_produit, .tableau_commentaires_partenaire{
	margin-left:300px;
	width:600px;
	}
	
.commentaires_produit th, .commentaires_produit td, .commentaires_partenaire th, .commentaires_partenaire td{
	margin-left:50px;
	padding-left:20px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	text-align:left;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.commentaires_produit p, .commentaires_partenaire p{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:30px;
	line-height:50px;
	color:grey;
    text-decoration : none;
}	

/*pour la page AFF_CMD_RETIRE_CLIENT*/	
.aff_cmd_retire_client{
	margin-left:0;
	padding-top:100px;
	padding-bottom:70px;
	}
	
.aff_cmd_retire_client h1{
	margin-bottom:30px;
	font-family:Helvetica, sans-serif;
	font-size:30px;
	text-align:center;
	line-height:50px;
	color:grey;
    text-decoration : none;
	}
	
.aff_cmd_retire_client th, .aff_cmd_retire_client td{
	margin-left:50px;
	margin-bottom:20px;
	font-family:Helvetica, sans-serif;
	font-size:20px;
	line-height:40px;
	color:black;
    text-decoration : none;
}

.tableau_aff_cmd_retire_client{
	text-align:center;
	margin-left:130px;
	width:900px;
	}
footer{
	height:70px;
	background-color:#450104;
}




